out
node_modules
.vscode-test/
*.vsix
.log/
coverage/
.nyc_output/
documentation/
mocklibsecret/build/
logfile.json
test-resources/
open-build-service/
mocklibsecret/.mypy_cache/*
.vagrant/*
src/ui-tests/default/fakeHome/*
src/ui-tests/default/settings.json
src/ui-tests/accounts/fakeHome/*
src/ui-tests/accounts/settings.json
dist/*
test-home/*
test-tmp/*
media/html/*
frontend_out/*

media/dark/endpoints_disconnected.svg
media/light/endpoints_disconnected.svg
