out
node_modules
.vscode-test/
*.vsix
.log/
coverage/
.nyc_output/
documentation/
mocklibsecret/build/
logfile.json
test-resources/
open-build-service/
mocklibsecret/.mypy_cache/*
.vagrant/*
src/ui-tests/default/fakeHome/*
src/ui-tests/default/settings.json
