.git/**
.github/**
.vscode/**
.vscode-test/**
out/test/**
out/ui-tests/**
mocklibsecret/**
src/**
.gitignore
*~
**/tsconfig.json
**/tslint.json
yarn.lock
**/*.map
**/*.ts
coverage/**
.nyc_output/**
.gitlab-ci.yml
test-resources/**
documentation/**
doc/**
node_modules/**
open-build-service/**
.ccls-cache/**
runTests.sh
runUiTests.sh
start-mini-obs.sh
